.cart {
  margin: 2rem auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.cart__items {
  margin-right: 1rem;
  flex: 2.5;
}

.cart__summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 3rem 2.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  gap: 6rem;
  height: fit-content;
}

.summary__title {
  font-size: 2.5rem;
  font-weight: bold;
}

.summary__price {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.summary__price span:nth-child(1) {
  font-size: 1.5rem;
  flex: 0.7;
}

.summary__price span:nth-child(2) {
  flex: 0.3;
  font-size: 1.8rem;
  font-weight: bold;
}

.summary__checkoutBtn {
  padding: 1rem 4rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  max-width: 40rem;
  align-self: center;
}

.summary__checkoutBtn:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.summary__checkoutBtn:hover {
  opacity: 0.75;
}

@media screen and (max-width:680px) {
  .cart {
    flex-wrap: wrap-reverse;
  }

  .cart__summary {
    margin-bottom: 2.5rem;
    gap: 4rem;
  }
}